/* Team Section Styles */
.real-estate-stats{
  font-family: "Libre Baskerville", serif;
}

.about-container{
  padding: 2rem;
  background-color: #f9f9f9; /* Light background for contrast */
  color: black;
  border-radius: 8px;
}
.team-section {
  background-color: #f9f9f9;
  padding: 2rem 0;
  border-radius: 8px;
}

.read-more{
  color: blue;
}

.team-card {  
  padding: 20px 50px;
  margin: 0 50px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.team-card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.25rem;
  color: #2c3e50;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .team-card {
    margin-bottom: 1rem;
    padding: 1px;
    margin: 1px;
  }
}

@media (max-width: 576px) {
  .about-container {
    font-size: 12px;
  }
  .card-title {
    font-size: 0.8rem;
  }
  .card-text {
    font-size: 0.9rem;
  }
}
