.logo-img {
  width: 120px;
  margin-right: 5px;
  position: relative;
}

.navbar {
  font-family: "Libre Baskerville", serif;
  height: 120px;
}

.logo-text {
  font-size: xx-large;
}

.navbar-brand {
  font-weight: bold;
  font-size: 20px;
}

.nav-link {
  color: rgb(145, 144, 144);
  font-weight: 500;
}

.nav-link:hover,
.nav-link.active {
  color: rgb(117, 117, 117);
  text-decoration: underline;
}

.location-select-form {
  margin-left: 10px;
}

.location-select {
  border: none;
  /* border-bottom: 2px solid #ccc; */
  border-radius: 0;
  background-color: transparent;
}

.location-select:focus {
  box-shadow: none;
  border-color: #999;
}

.modal-header{
  padding: 2rem;
  background-color: #f9f9f9; /* Light background for contrast */
  border-radius: 8px;
}

/* Mobile fullscreen navbar styling */
@media (max-width: 768px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: none;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }

  .navbar-collapse.show {
    display: block;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .nav-link {
    font-size: 1.5rem;
    text-align: center;
  }

  .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}