.footer {
    font-family: "Libre Baskerville", serif;
    background-color: black;
    color: #fff;
    padding: 20px 0;
  }

  .footer h3 {
    font-weight: bold;
  }
  
  .footer h5 {
    font-family: "Libre Baskerville", serif;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 400;
  }

  .footer ul {
    padding-left: 0;
    display: flex;
    gap: 15px; /* Space between the icons */
  }
  
  .footer ul li {
    list-style: none;
    display: inline-block;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #ddd;
  }

  .foologo {
    width: 50px;
    height: auto;
  }

  .foorights {
    font-size: 12px;
  }
  
  /* Add responsiveness if needed */
  @media (max-width: 768px) {
    .footer ul {
      flex-direction: column;
    }
    .list-unstyled {
      font-size: small;
    }
    .foorights {
      font-size: 8px;
    }
    .foologo {
      width: 30px;
      height: auto;
    }
  }
  