.bangaloreProperties {
  font-family: "Libre Baskerville", serif;
  padding: 20px;
  color: black;
}

.property-card {
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.property-title {
  font-weight: 900;
  font-size: 2rem;
}

.property-card .btn {
  margin: 0px 0;
}

.property-card .card-footer {
  padding: 0.5rem;
}

.property-card .img-fluid {
  width: 100%; /* Set to 100% to occupy full width of the column */
  height: auto; /* Set height to auto to maintain aspect ratio */
  object-fit: cover; /* Crop image to fill the dimensions */
}

.h5 {
  font-size: 2rem!important;
}
.plantation {
  font-size: 20px !important;
}
.contact-btn {
  background-color: rgb(141, 141, 141) !important;
  font-weight: bold !important;
}